/*
th {
    color: white;
    background: black;
}

.col_heading {
    background-color: #FF4B4B;
    color: white
}

button{
    background-color: #FF4B4B;
    color: white
}

.css-1prua9e {
    background-color: #FF4B4B;
    color: white
}

.stButton {
    text-align: right
}*/

.css-81oif8{
    display: none!important;
}

.css-6qob1r {
    background: #3c4b64;
    color: white;
}

.css-1prua9e {
    background-color: black;
    color: white
}

.stButton {
    text-align: right
}